<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>호근커뮤니티 - 게시글 작성</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/write.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
<!-- 헤더 포함 -->
<div th:replace="~{/layout/header :: header}"></div>

<div id="main" class="container">
    <header class="head">
        <h1 class="fw-bold">호근커뮤니티</h1>
        <p>게시글 작성</p>
    </header>
    <div class="mb-3">
        <a th:href="@{/board/list}" class="btn-secondary">목록 보기</a>
    </div>
    <form method="post" id="myForm" th:action="@{/board/write}" th:object="${board}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="boardTitle" class="form-label">제목</label>
            <input type="text" class="form-control" id="boardTitle" th:field="*{boardTitle}" placeholder="Title">
        </div>
        <div class="mb-3">
            <label for="boardContent" class="form-label">내용</label>
            <textarea class="form-control" id="boardContent" th:field="*{boardContent}" rows="6" placeholder="Content" style="resize: none;"></textarea>
        </div>
        <div class="mb-3">
            <label for="upload" class="form-label">첨부파일</label>
            <input type="file" class="form-control" id="upload" name="boardfiles" multiple>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn">등록</button>
        </div>
        <input type="hidden" name="providerId" th:value="${#authentication.getPrincipal().getProviderId()}">
    </form>
</div>
<!-- 푸터 포함 -->
<div th:replace="~{/layout/footer :: footer}"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.js"></script>
<script>
    $(document).ready(function() {
        initializeSummernote();
    });

    function initializeSummernote() {
        $('#boardContent').summernote({
            // height: 300,
            tabsize: 2,
            placeholder: '내용을 입력하세요...',
            callbacks: {
                onImageUpload: function(files) {
                    for (let i = 0; i < files.length; i++) {
                        uploadImage(files[i], this);
                    }
                }
            }
        });
    }

    function uploadImage(file) {
        let data = new FormData();
        data.append("file", file);
        $.ajax({
            url: '/upload/image',
            cache: false,
            contentType: false,
            processData: false,
            enctype : 'multipart/form-data',
            data: data,
            method: "post",
            success: function(url) {
                console.log(url)
                insertImageToSummernote(url);
            },
            error: function(data) {
                console.error(data);
            }
        });
    }

    function insertImageToSummernote(url) {
        const img = document.createElement('img');
        img.src = url;
        img.style.width = '100%';
        $('#boardContent').summernote('insertNode', img);
    }
</script>

</body>
</html>
