<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>
    <!-- 헤더 포함 -->
    <div th:replace="~{/layout/header :: header}"></div>

    <div style="text-align: center;">
        <img th:src="@{/img/main.jpg}" alt="류호근" style="max-width: 100%; height: auto;">
    </div>

    <!-- 푸터 포함 -->
    <div  class="footer" style="position: fixed; bottom: 0">
        <div class="footer" th:replace="~{/layout/footer :: footer}"></div>
    </div>
</body>
</html>