<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.BoardFileMapper">
    <insert id="insertBoardFile">
        INSERT INTO TBL_BOARD_FILE (file_id, board_id, stored_file_name)
        VALUES (SEQ_BOARD_FILE.nextval, #{boardId}, #{storedFileName})
    </insert>
</mapper>
