<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.mapper.FileMapper">
    <insert id="insertFile">
        INSERT INTO TBL_FILE (file_id, board_id, original_file_name, stored_file_name, file_size, upload_time)
        VALUES (seq_file.nextval, #{boardId}, #{originalFileName}, #{storedFileName}, #{fileSize}, SYSDATE)
    </insert>

    <select id="getFileListByBoardId" resultType="FileDTO">
        SELECT
            file_id,
            board_id,
            original_file_name,
            stored_file_name,
            file_size,
            upload_time
        FROM
            TBL_FILE
        WHERE
            board_id = #{boardId}
    </select>

<!--  다운로드 할 때 사용  -->
    <select id="getFileById" resultType="FileDTO">
        SELECT
            file_id,
            board_id,
            original_file_name,
            stored_file_name,
            file_size,
            upload_time
        FROM
            TBL_FILE
        WHERE
            file_id = #{fileId}
    </select>

<!--  게시글 수정 시 본래 첨부파일 삭제  -->
    <delete id="deleteFiles">
        DELETE FROM TBL_FILE
        WHERE BOARD_ID = #{boardId}
    </delete>
</mapper>
